graft src
graft codegen
include AUTHORS
include CHANGELOG.rst
include CONTRIBUTING.rst
include CONTRIBUTORS.md
include LICENSE
include pyproject.toml
include README.rst
include setup.py

prune .ci
prune .github
prune .venv
prune default_templates
prune doc
prune tests
prune *.egg-info

exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude codecov.yml
exclude Makefile
exclude test_cleanup.py
exclude uv.lock
exclude PKG-INFO

global-exclude *.py[cod]
global-exclude __pycache__/**
