<html>
   <head>
        <style type="text/css">
            html, body, div, iframe { margin:0; padding:0; height:100%; }
            {% comment %}
            iframe { position:fixed; display:block; width:100%; border:none; }
            {% endcomment %}
        </style>
   </head>
   <body>
        <iframe allowfullscreen id='vnc_report_frame' allowTransparency='false' scrolling='no'
                    style='{{height}}{{width}}resize:both;overflow:auto;border:none;'
                    marginheight='0' marginwidth='0' src="{{uri}}" onload='this.contentWindow.focus()'>
        </iframe>
   </body>
</html>

