{% extends "website/base_website.html" %}

{% block content %}
    <h2 class="display-4 mb-3" xmlns="http://www.w3.org/1999/html">{{ base_title }}</h2>

    <form role="form" id="sessionSelect" method="post"
          enctype="multipart/form-data" target="_blank" action="{% url 'remote_session_run' %}">
        {% csrf_token %}
        <input class="span2" id="session_size" name="session_size" type="hidden">
        <input class="span2" id="session_name" name="session_name" type="hidden">
        <div class="card">
            <h5 class="card-header">Configured Sessions</h5>
            <div class="card-body">
                {% for session in session_list %}
                    <div class="input-group mb-3">
                        <div class="form-control input-group-text">
                            <strong>{{ session.name }}</strong>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                {{ session.count }} instances configured, {{ session.active }} active
                            </span>
                        </div>
                        <div class="input-group-append">
                            <button type="button"
                                    {% if session.count == session.active %}
                                    class="btn btn-outline-primary dropdown-toggle disabled form-control"
                                    {% else %}
                                    class="btn btn-outline-primary dropdown-toggle form-control"
                                    {% endif %}
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Start Session
                            </button>
                            <div class="dropdown-menu">
                                {% for size in session.sizes %}
                                    <a class="dropdown-item" onclick="$('#session_size').val('{{ size }}'); $('#session_name').val('{{ session.name }}'); $('#sessionSelect').submit()"
                                         href="#">{{ size }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <em>No Sessions Configured</em>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
