<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ base_title }} - ADR</title>
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>

    {#icons#}
    <link rel="stylesheet" type="text/css" href="{% static 'website/content/fontawesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/content/solid.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'website/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/content/bootstrap-callout.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/content/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/content/site.css' %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static 'website/content/dark-site.css' %}"/>#}

    {# the mathjax core needs some explicit configuration to load only bits shipped and enable ascimath & TeX #}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          jax: ["input/TeX","input/MathML","input/AsciiMath"],
          extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js"],
          TeX: { extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"] },
          tex2jax: { inlineMath:[['$','$'],["\\(","\\)"]], displayMath:[['$$','$$'],["\\[","\\]"]], processEscapes:true, processEnvironments:true},
          asciimath2jax: { delimiters:[['`','`']] },
        });

    </script>
    <script src="{% static 'website/scripts/mathjax/MathJax.js' %}?config=TeX-AMS-MML_SVG"></script>
    <script src="{% static 'website/scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'website/scripts/datatables.min.js' %}"></script>


    <script src="{% static 'ansys/nexus/utils/js-unzip.js' %}"></script>
    <script src="{% static 'ansys/nexus/utils/js-inflate.js' %}"></script>
    <script src="{% static 'ansys/nexus/ANSYSViewer_min.js' %}"></script>

    {# Once the document is loaded, have MathJax revisit the expressions, replacing them with SVG #}
    <script>$(document).ready(function () {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    });</script>
    {% block header %}{% endblock %}
</head>
<body style="padding: 0;">
<div class="body-content m-1">
    {% block content %}{% endblock %}
    {% if not hidemenus %}
        <hr/>
        <footer class="container-fluid footer">
            <div class="row">
                <div class="col-md-auto text-center">
                    <small>ADR &copy; 2017-{{ year }} ANSYS, Inc.</small>
                </div>
                <div class="col text-center">
                    <small>
                        <a href="https://www.ansys.com/legal/legal-notices">Legal Notices</a>
                    </small>
                </div>
                <div class="col text-center">
                    <small>
                        <a href="https://www.ansys.com/legal/privacy-notice">Privacy Notice</a>
                    </small>
                </div>
                <div class="col text-center">
                    <small>
                        <a href="https://www.ansys.com/legal/cookie-policy">Cookie Policy</a>
                    </small>
                </div>
                <div class="col text-center">
                    <small>
                        <a href="https://www.ansys.com/legal/terms-and-conditions">Terms and Conditions</a>
                    </small>
                </div>
                <div class="col text-center">
                    <small>
                        <a href="https://www.ansys.com/legal/report-piracy">Report Piracy</a>
                    </small>
                </div>
            </div>
        </footer>
    {% endif %}
</div>
{#scroll-to-top icon#}
<a href="#" id="return_to_top"><i class="fas fa-chevron-up fa-2x"></i></a>

<script src="{% static 'website/scripts/hotkey.min.js' %}"></script>
<script src="{% static 'website/scripts/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
