venv/

#Ignore this file
/ceireports/nexus_version.py

#Ignore these static website javascript files, they come from elsewhere
/website/static/website/scripts/babylon.3.1.minified.nopackages.js
/website/static/website/scripts/babylon.trackballCamera.js
/website/static/website/scripts/babylon.trackballCameraInputsManager.js
/website/static/website/scripts/babylon.trackballcamera.input.pointers.js
/website/static/website/scripts/create_scene_template.js
/website/static/website/scripts/csf.export.js
/website/static/website/scripts/init_vr_template.js
/website/static/website/scripts/pep.0.4.0.min.js