name: Nightly Build and Test

on:
  schedule: # UTC at 22:00 = 6pm EDT
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:

  nightly_test:
    name: Testing
    uses: ./.github/workflows/tests.yml
    with:
      ref: 'refs/heads/main'
    secrets:
      LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
      PYANSYS_CI_BOT_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

  nightly_and_upload:
    name: nightly_and_upload
    needs: [ nightly_test ]
    environment:
      name: azure-pypi
    permissions:
      contents: write
      id-token: write         # REQUIRED for OIDC
      attestations: write     # REQUIRED by attest-build-provenance v2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'
          fetch-tags: true

      - name: Set up Python + Environment
        uses: ./.github/actions/setup-python-env

      - name: Run version checks
        run: make check-version

      - name: Build library source and wheel artifacts
        uses: ./.github/actions/build-library
        with:
          library-name: ${{ env.PACKAGE_NAME }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Verify artifacts
        run: make check-dist

      - name: Publish to Azure PyPI (uv)
        if: ${{ !env.ACT }}
        run: make publish-azure
        env:
          AZURE_PYPI_TOKEN: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}
          AZURE_PYPI_URL: ${{ secrets.PRIVATE_PYPI_URL }}

  vulnerabilities:
    name: Vulnerabilities
    needs: [ nightly_test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'
          fetch-tags: true

      - name: Set up Env
        uses: ./.github/actions/setup-env

      - name: PyAnsys Vulnerability check (on main)
        if: github.ref == 'refs/heads/main'
        uses: ansys/actions/check-vulnerabilities@v10.0.14
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          python-package-name: ${{ env.PACKAGE_NAME }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          run-bandit: false
          hide-log: false

      - name: PyAnsys Vulnerability check (on dev)
        if: github.ref != 'refs/heads/main'
        uses: ansys/actions/check-vulnerabilities@v10.0.14
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          python-package-name: ${{ env.PACKAGE_NAME }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          run-bandit: false
          dev-mode: true
          hide-log: false

  ci-failure:
    name: Teams notify on failure
    if: failure()
    needs: [ nightly_and_upload, vulnerabilities ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Microsoft Teams Notification
        uses: jdcargile/ms-teams-notification@v1.4
        with:
          github-token: ${{ github.token }}
          ms-teams-webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_NIGHTLY }}
          notification-summary: Nightly build failure
          notification-color: dc3545
          timezone: America/New_York
