name: Nightly Documentation Build

on:
  schedule: # UTC at 23:00 = 7pm EDT
    - cron: '0 23 * * *'
  workflow_dispatch:

env:
  DOCUMENTATION_CNAME: 'dynamicreporting.docs.pyansys.com'
  MAIN_PYTHON_VERSION: '3.13'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs_build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Run Ansys documentation building action
        uses: ansys/actions/doc-build@v8
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          check-links: false
          sphinxopts: '-j auto'

  docs_upload:
    needs: docs_build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy development documentation
        uses: ansys/actions/doc-deploy-dev@v8
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
